@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    min-height: 350px;
    background-color: #000000;
    color: white;
    padding: 50px 0px;
}

.container .contents-wraper {
    width: 70%;
    height: 100%;

    min-height: inherit;
    margin: 0px auto;
    text-align: center;
}

.contents-wraper .header h1 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.contents-wraper .testRow {
    width: 100%;
    height: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}

.testRow .testItem {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testItem p {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.testRow .testItem:not(.active) {
    top: 0;
    left: -100%;
}

.testRow .testItem p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 10px;
}

.contents-wraper .indicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
}

.contents-wraper .indicators .dot {
    width: 10px;
    height: 10px;
    margin: 0px 3px;
    background-color: #5b20b3;
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.contents-wraper .indicators .active {
    border: 2px solid #5b20b3;
    width: 12px;
    height: 12px;
    background-color: transparent;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.contents-wraper .indicators div {
    transition: transform 0.3s ease;
}

@keyframes next1 {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

@keyframes prev1 {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@media (max-width: 550px) {
    .container .contents-wraper {
        width: 90%;
    }

    .contents-wraper .header h1 {
        font-size: 22px;
    }

    .testRow .testItem p {
        font-size: 16px;
        letter-spacing: initial;
        line-height: initial;
        margin-bottom: 0px;
    }

    .contents-wraper .indicators {
        width: 100%;
    }

    .testRow .testItem {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .contents-wraper {
        width: 70%;
        height: auto;
        min-height: inherit;
        margin: 0px auto;
        text-align: center;
    }
}